@import "tailwindcss";


@theme  {
  --color-darkblue: #0031a0;
  --color-gray: #4b5563;
  --color-darklab :#333333;
  --breakpoint-md: 970px;
  --breakpoint-serviceDd: 765px;
}

body {
  background: rgb(243, 242, 242);
  font-family: sans-serif;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
